* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

h1 {
    margin-top: 1rem;
}

h4 {
    margin-top: .5rem;
}

body {
    padding-left: 1rem;
    padding-right: 1rem;
}

.planning-content {
    padding-left: 1rem;
    padding-right: 1rem;
    li {
        margin-bottom: 0.25rem;
    }
}

table {
    margin-top: 1rem;
    border-collapse: collapse;
    th {
        background-color: #e6e6e6;
        border: 1px solid #c1c1c1;
        padding: 0 1rem;
        text-align: left;
    }
    td {
        border: 1px solid #c1c1c1;
        padding: .25rem 1rem;
        vertical-align: top;
    }
}

hr {
    margin: 2rem 0;
    border-top: 3px dotted gray;
}
.blue {
    color: #1e6bff;
}
sub {
    color: #656565;
}